{% extends "main.html.twig" %}

{% block header %}

{% endblock %}

{% block content %}
    <h1>Boodschappen</h1>
    {% for commission in data %}
        <div>
            <img/>
            <div>
                <h2></h2>
                <p></p>
            </div>
            <div>
                <i></i>
                <span></span>
            </div>

        </div>
        {# <pre>{{dump(commission)}}</pre> #}
    {% endfor %}
{% endblock %}