<html lang="nl">
<head>

    <title>{{ title }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>


<body>
<div class="container-fluid">

    <header class="row header">
        <div class="col-md-12">
            <img class="logo" src="assets/img/logo-v2.png"/>
            {% block header %}
                
            {% endblock %}   
            <i class='fas fa-search' style='font-size:18px;color:red'></i>
            <input type="text" id="searchBar" placeholder="Zoeken" onclick="findRecipes()"/>

        </div>
    </header>

    <main class="row">
        <aside class="col-md-3">
            <section class="agenda">
                <img src="assets\img\verrukkulluk-agenda.png" />
            {% for i in 1..5 %}
                <div class="agenda-item">
                    <i class="fa fa-calendar"></i>
                    <div>
                        <h1>Vegetarisch koken</h1>
                        <p>Een workshop vegetarisch koken, onder leiding van Trientje Hupsakee</p>
                    </div>
                 </div>
            {% endfor %}
            </section>
            <section class="login">
                <img src="assets\img\verrukkulluk-login.png" />
                <label for="email">Email</label>
                <input id="email" type="text" />
                <label for="password">Wachtwoord</label>
                <input id="password" type="password" />
                <h2><input type="submit" value="Login"/></h2>
                
            </section>
        </aside>
        <section class="col-md-9">
            {%  block content %}
            {%  endblock %}
        </section>
    </main>

    <footer class="footer row">
            <img class="logo" src="assets\img\verrukkulluk-pay-off.png" />
            <img class="contact-logo" src="assets\img\verrukkulluk-contact.png" />
            <div class="contact-info">
                <p>Verrukkulluk.nl</p>
                <p>Poststraat 2b</p>
                <p>Sittard</p>
                <p>info@verrukkulluk.nl</p>
            </div>
    </footer>


</div>

<script>
    function findRecipes() { // https://stackoverflow.com/questions/27381591/pass-variable-from-twig-to-js
        const searchString = document.getElementById('searchBar');
        alert("clicked");
    }
        $(document).ready(function () {
            $(".fa-star").click(function () {
                const value = $(this).attr('data-value');
                console.log(this);

                /// Clear all the checked stars 
                $(this).parent().children().removeClass('checked');

                $(this).parent().children().each((index, elem) => { 
                            const ratingStar = $(elem).attr('data-value');
                            if (ratingStar <= value) {
                                $(elem).addClass('checked');
                            }
                        });
            })
        })    
</script>

</body>
</html>